PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/your-db-name
CORS_ORIGIN=http://localhost:3000

ACCESS_TOKEN_SECRET=your_access_token_secret
ACCESS_TOKEN_EXPIRY=15m

REFRESH_TOKEN_SECRET=your_refresh_token_secret
REFRESH_TOKEN_EXPIRY=7d

GOOGLE_EMAIL_USER=your_gmail@gmail.com
GOOGLE_APP_PASSWORD=your_gmail_app_password